$yellow: (
  base: #ebcc41,
  tone-1: #fad128,
  tone-2: #c8a827,
);
$gray: (
  base: #1a1f25,
  tone-1: #272d35,
  tone-2: #727272,
);
$green: (
  base: #23d509,
);
$white: (
  base: #ffffff,
);
$red: (
  error: #be0000,
);

$pad: 8px;

$font-sizes: (
  xs: 10px,
  s: 12px,
  m: 14px,
  l: 16px,
  xl: 22px,
  xxl: 28px,
);
