@import './functions';
@import './variables';

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: color($gray, base);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: color($white, base);
  font-family: 'Roboto', sans-serif;
}
