@import './functions';
@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: color($white, base);
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  padding: 0 $pad * 2;
  background-color: color($gray, base);
  box-sizing: border-box;
}
